html{
    scroll-behavior: smooth;
}

body{
    background-color: pink;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}

body > header {
    position: sticky;
    width: 100%;
    top: 0;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
}
  
h2{
    font-size: 32px;
    line-height: 1.5;
}

nav li{
    display:inline;
    padding-right:20px;
}
  
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

nav{
    background-color: white;
    padding: 25px 0; 
    text-align: right;
}

footer{
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
}


@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
}

/* position the default position for the skip class element*/
.skip a{
    position: relative;
    top: -40px;
}
  
/* position the skip class element when it is in focus*/
.skip a:focus {
    position: relative;
    top: 20px;
}

nav a:focus, nav a:hover{
    text-decoration: underline;
}

.active {
    border: solid 3px black;
    padding-left: 20px;
}

.review {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.notebook {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}

.notebook img {
    margin-bottom: 1em;
    margin-top: 10px;
    width: 100vw;
}

.notebook figure {
    flex-flow: column;
    width: 100vw;
}

.notebook figcaption {
    width: 100vw;
}

figcaption {
    text-align: center;
    font-weight: bold;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

/* tablet styling */

@media screen and (min-width: 600px){

    /* style the nav element */
    nav{
      padding: 30px 0px; 
      text-align: right;
    }

    /* in tablet view make two columns for the review images */
    .review {
        grid-template-columns: 1fr 1fr;
        margin: 15px;
    }

    /* make the nav bar not sticky anymore */
    body > header {
        position: static;
        width: 100%;
        top: 0;
    }

    /* border only in big grid mode */
    img {
        border: solid 3px black;
    }

    .notebook {
        flex-direction: row;
    }

    .notebook img {
        width: 300px;
    }
    
    .notebook figure {
        width: 300px;
        margin: 15px;
    }
    
    .notebook figcaption {
        width: 300px;
    }
}

/* laptop styling */
@media screen and (min-width: 900px){

    /* style the nav element */
    nav{
      padding: 30px 0px; 
      text-align: right;
    }

    /* in laptop view make three columns for the review images */
    .review {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 15px;
    }

    /* make the nav bar not sticky anymore */
    body > header {
        position: static;
        width: 100%;
        top: 0;
    }

    /* border only in big grid mode */
    img {
        border: solid 3px black;
    }

    .notebook {
        flex-direction: row;
    }

    .notebook img {
        width: 300px;
    }
    
    .notebook figure {
        width: 300px;
        margin: 15px;
    }
    
    .notebook figcaption {
        width: 300px;
    }
}